.buttonsArea {
display: flex;
flex-wrap: wrap; 
justify-content: flex-end;   
}

.buttonsArea__button {
color: teal;
border: none;
background: none;
transition: color 0.4s;
}

@media(max-width:992px) {
    .buttonsArea__button{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

.buttonsArea__button:disabled {
    color: #bbb;
}