.buttonsArea {
display: flex;
flex-wrap: wrap; 
justify-content: flex-end;   
}

.buttonsArea__button{
color: teal;
border: none;
background: none;
transition: color 0.4s;
}

.buttonsArea__button:disabled{
    color: #bbb;
}