.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    max-width: 100%;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    color: white;
    background: teal;
    border: none;
    padding: 10px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
        flex-wrap: wrap;
    }
}

.form__button:active {
    background: rgba(0, 128, 128, 0.806);
}