.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task__button {
    padding: 0px;
    border: none;
    color: white;
    height: 30px;
    width: 30px;
}

.task__content--done {
    text-decoration: line-through;
}

.task__button--toggleDone {
    background: green;
}

.task__button--remove {
    background: red;
}